<div id="footer-announcements">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 group" id="love">

                <h4><i class="fa fa-heart"></i> People Who Love Us</h4>
                <blockquote>
                    <span class="quotemark quotemark-left">&ldquo;</span>
                    <p>
                        {{ testimonial.content }}
                    </p>
                    <span class="quotemark quotemark-right">&rdquo;</span>
                    <footer>
                        <cite>
                            <a href="{{ testimonial.url }}">{{ testimonial.name }}</a>
                        </cite>
                    </footer>
                </blockquote>

            </div>

            <div class="col-sm-6 group">

                <a class="twitter-timeline" href="https://twitter.com/simplytestable" data-widget-id="355821684017745920" data-tweet-limit="1" data-chrome="noheader nofooter noborders transparent">Tweets by @simplytestable</a>
                <script>!function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + "://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");</script>

            </div>
        </div>
    </div>
</div>

<div id="footer-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 group doclinks">

                        <ul>
                            <li>
                                <a href="https://help.simplytestable.com/legal/cookies/">
                                    <i class="fa fa-file-text-o"></i>
                                    <span>Cookie policy</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://help.simplytestable.com/legal/privacy/">
                                    <i class="fa fa-file-text-o"></i>
                                    <span>Privacy policy</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://help.simplytestable.com/legal/terms-of-service/">
                                    <i class="fa fa-file-text-o"></i>
                                    <span>Terms of service</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 group doclinks">

                        <ul>
                            <li>
                                <a href="{{ web_client_urls.start_test }}">
                                    <i class="fa fa-play-circle-o"></i>
                                    <span>
                                        {% if is_logged_in %}
                                            Start a new test
                                        {% else %}
                                            Try a demo
                                        {% endif %}
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('page_features') }}">
                                    <i class="fa fa-signal"></i>
                                    <span>Features</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('page_plans') }}">
                                    <i class="fa fa-tachometer"></i>
                                    <span>Pricing and plans</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 group doclinks">

                        <ul>
                            <li>
                                <a href="{{ path('contact_render') }}">
                                    <i class="fa fa-envelope-o"></i>
                                    <span>Contact us</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://blog.simplytestable.com/">
                                    <i class="fa fa-comments-o"></i>
                                    <span>Read our blog</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://help.simplytestable.com/errors/html-validation/index/">
                                    <i class="fa fa-question-circle icon-fixes"></i>
                                    <span>Fixes for common HTML validation errors</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 group stay-updated">
                <a href="http://eepurl.com/ni82f">
                    <i class="fa fa-bullhorn"></i>
                    <span class="content">Sign up for our weekly updates newsletter</span>
                    <span class="subtext">
                        Get advanced invites to beta access and updates on new features. You can
                        unsubscribe at any time if this bothers you.
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
