{% extends 'base.html.twig' %}

{% block body %}
    <div id="landing-strip">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ plan.longtitle }}</h1>
                    <ul class="list-inline">
                        {% for current_plan in plans %}
                            {% if current_plan.islisted %}
                                <li>
                                    {% if current_plan == plan  %}
                                        <span>{{ current_plan.shorttitle }}</span>
                                    {% else %}
                                        <a href="{{ path('plandetails_index', {'name': current_plan.id}) }}">{{ current_plan.shorttitle }}</a>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-md-12 content">{% block content %}{% endblock %}</div>
                </div>
                <div class="row ctas">
                    {% block ctas %}
                        <div class="col-lg-4 col-md-5 col-sm-4">
                            {% include ':Partials/cta-buttons:create-account.html.twig' %}
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 additional">
                            <a href="{{ web_client_urls.start_test }}">Try a demo now</a>
                            <a href="{{ path('page_accountbenefits') }}">Benefits of creating an account</a>
                            <a href="{{ path('page_plans') }}">Premium plan options</a>
                        </div>
                    {% endblock %}
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    {% for distinction_group_id, distinction_group in distinctions %}
                        <div class="col-md-12 col-sm-6 summary {% if loop.index0 == 0 %}first-md{% endif %} {% if loop.index0 == 0 or loop.index0 == 1 %}first-sm{% endif %}">
                            <h3>{{ distinction_group.name }}</h3>

                            <table class="table">
                                <tbody>
                                {% for distinction_id, distinction in distinction_group.distinctions %}
                                    {% set plan_distinction = plan.distinctions[distinction_group_id][distinction_id] %}

                                    <tr>
                                        <td class="col-sm-8 col-xs-8">
                                            <i class="fa fa-{{ distinction.icon }}"></i><span>{{ distinction.name|join(' ')|replace({'%s': 's'}) }}</span>
                                        </td>
                                        <td {% if plan_distinction.value is null %}class="not-applicable"{% endif %}>
                                            {% if plan_distinction.bool %}
                                                {% include ':Partials:boolean-icon.html.twig'
                                                    with {
                                                        'is_set': plan_distinction.value
                                                    } only
                                                %}
                                            {% else %}
                                                {{ plan_distinction|raw }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        {% if loop.index0 % 2 == 1 %}
                            <div class="clearfix hidden-lg"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
