{% extends 'SimplyTestableWebsiteBundle::landing-page.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/homepage.css') }}">
{% endblock %}

{% block landing_strip %}
    <div id="landing-strip">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    Simple routine frontend web testing
                </h1>

                <p>
                    One-click full-site <a href="{{ path('page_features') }}#html-validation">HTML validation</a>, <a href="{{ path('page_features') }}#css-validation">CSS validation</a>,
                    <a href="{{ path('page_features') }}#javascript-static-analysis"><span class="hidden-md hidden-sm hidden-xs">JavaScript</span><span class="hidden-lg">JS</span> static analysis</a> and <a href="{{ path('page_features') }}#broken-link-checking">broken link checking</a>.
                </p>
            </div>
        </div>
        <div id="ctas" class="row">
            <div class="col-lg-3 col-lg-offset-3 col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1">
                <a class="cta btn btn-primary btn-lg pull-right" href="{{ web_client_urls.start_test }}">
                    <span class="primary">Try our free demo now</span>
                    <span class="byline"><span class="hidden-xs"><br>&nbsp;</span>Instant access. No sign up. A limited taster.</span>
                    <i class="fa fa-caret-right"></i>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a class="cta btn btn-default btn-lg pull-left" href="{{ web_client_urls.sign_up }}">
                    <span class="primary">Create an account</span>
                    <span class="byline">30-day trial, no credit card required.<br>Private tests. Full test history. All types of test.</span>
                    <i class="fa fa-sign-in"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
