<p class="heading hidden-md hidden-lg">{{ name }}</p>

<ul class="item-list">
    <li>
        {{ full_site_tests_per_site.value }}
        {% set plural_replacement = (full_site_tests_per_site.value != 1) ? 's' : '' %}
        
        <span class="item hidden-md hidden-lg">
            {{ full_site_tests_per_site.name.primary|replace({'%s': plural_replacement}) }}
            {{ full_site_tests_per_site.name.secondary }}
        </span>
    </li>
    <li>
        {{ single_page_tests_per_page.value }}
        {% set plural_replacement = (single_page_tests_per_page.value != 1) ? 's' : '' %}
        <span class="item hidden-md hidden-lg">
            {{ single_page_tests_per_page.name.primary|replace({'%s': plural_replacement}) }}
            {{ single_page_tests_per_page.name.secondary }}
        </span>
    </li>
    <li>
        {{ pages_examined_per_test.value }}
        <span class="item hidden-md hidden-lg">{{ pages_examined_per_test.name.primary }}</span>
    </li>

    {% if credits_per_month is defined and credits_per_month.value is not null %}
        <li>
            <span>{{ credits_per_month.value }}</span>
            <span class="item hidden-md hidden-lg">{{ credits_per_month.name.primary }}</span>
        </li>
        {% else %}
        <li class="not-applicable">
            <span>&mdash;</span><span class="item">&nbsp;</span>
        </li>           
    {% endif %}                                    
</ul>