{% extends 'SimplyTestableWebsiteBundle::base.html.twig' %}

{% block stylesheets %}      
    {{ parent() }}
    {% stylesheets
    '@SimplyTestableWebsiteBundle/Resources/assets/css/pricing-tables.css'
    '@SimplyTestableWebsiteBundle/Resources/assets/css/pricing-table.css'
    '@SimplyTestableWebsiteBundle/Resources/assets/css/account-benefits.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <div id="landing-strip">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row heading">                                           
                        <div class="col-md-10 col-md-offset-2">
                            <h1>Create an account. <br class="hidden-sm hidden-md hidden-lg">So much more than the demo.</h1>
                        </div>
                    </div>

                    <div class="pricing-tables pricing-tables-small attached hidden-md hidden-lg data">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="plan first demo">
                                    <div class="head hidden-sm">
                                        <h2>Limited demo features</h2>
                                        <p>
                                            What you get if you're not signed in
                                        </p>
                                    </div>                                     
                                    
                                    <div class="head hidden-xs">
                                        <h2>Demo features</h2>
                                        <p>
                                            What you get if you're not signed in
                                        </p>
                                    </div>
                                    
                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:display-xs-sm-account-options.html.twig'
                                        with {'account_options': plan_features.demo}
                                    %}

                                    <div class="ctas {% if is_logged_in %}invisible{% endif %}">
                                        <a href="{{ web_client_urls.base }}" class="btn btn-default btn-sm hidden-xs">
                                            Try me now
                                        </a>                                    

                                        <a href="{{ web_client_urls.base }}" class="btn btn-default hidden-sm">
                                            Try me now
                                        </a>                                         
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="plan">                           
                                    <div class="head">
                                        <h2>Free plan <span class="hidden-sm hidden-md hidden-lg">features</span></h2>
                                        <p>
                                            No-cost account
                                        </p> 
                                    </div>                           

                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:display-xs-sm-account-options.html.twig'
                                        with {'account_options': plan_features.free}
                                    %}  

                                    <div class="ctas {% if is_logged_in %}invisible{% endif %}">
                                        <a href="{{ web_client_urls.base }}{{ web_client_urls.sign_up }}?plan=basic" class="btn btn-success btn-sm hidden-xs">
                                            Create a free account <i class="fa fa-caret-right"></i>
                                        </a>

                                        <a href="{{ web_client_urls.base }}{{ web_client_urls.sign_up }}?plan=basic" class="btn btn-success hidden-sm">
                                            Create a free account <i class="fa fa-caret-right"></i>
                                        </a>                                        
                                    </div>

                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="plan last">
                                    <div class="head">
                                        <h2>Premium plan <span class="hidden-sm hidden-md hidden-lg">features</span></h2>
                                        <p>
                                            From &pound;9 per month
                                        </p>    
                                    </div>                           

                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:display-xs-sm-account-options.html.twig'
                                        with {'account_options': plan_features.premium }
                                    %}
                                    
                                    <div class="ctas">
                                        {% if is_logged_in %}
                                        <a href="{{ path('page_plans') }}" class="btn btn-success btn-sm hidden-xs">
                                            View premium plans
                                        </a>                                     

                                        <a href="{{ path('page_plans') }}" class="btn btn-success hidden-sm">
                                            View premium plans
                                        </a>                                            
                                        {% else %}
                                        <a href="{{ path('page_plans') }}" class="btn btn-default btn-sm hidden-xs">
                                            View premium plans
                                        </a>                                     

                                        <a href="{{ path('page_plans') }}" class="btn btn-default hidden-sm">
                                            View premium plans
                                        </a>                                            
                                        {% endif %}                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                     

                    <div class="row data hidden-sm hidden-xs">
                        <div class="col-md-2 hidden-sm hidden-xs items">
                            <div class="head">
                                <h2>&nbsp;</h2>
                                <p>&nbsp;</p>
                            </div>                    
                            <ul>
                                <li class="heading heading-first">
                                    <span>{{ plan_features.demo.test_limitations.name }}</span>
                                </li>
                                <li>                                        
                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:feature-name.html.twig'
                                        with {'name': {
                                                'primary': plan_features.demo.test_limitations.full_site_tests_per_site.name.primary|replace({'%s': 's'}),
                                                'secondary': plan_features.demo.test_limitations.full_site_tests_per_site.name.secondary
                                        }}
                                    %}
                                </li>
                                <li>                               
                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:feature-name.html.twig'
                                        with {'name': {
                                                'primary': plan_features.demo.test_limitations.single_page_tests_per_page.name.primary|replace({'%s': 's'}),
                                                'secondary': plan_features.demo.test_limitations.single_page_tests_per_page.name.secondary
                                        }}
                                    %}
                                </li>
                                <li>
                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:feature-name.html.twig'
                                        with {'name': plan_features.demo.test_limitations.pages_examined_per_test.name}
                                    %}
                                </li>
                                <li class="last">   
                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:feature-name.html.twig'
                                        with {'name': plan_features.demo.test_limitations.credits_per_month.name}
                                    %}                                                                                                         
                                </li>
                                <li class="heading">
                                    <span>{{ plan_features.demo.access_to_results.name }}</span>
                                </li>                                                               
                                <li>                                  
                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:feature-name.html.twig'
                                        with {'name': plan_features.demo.access_to_results.results_available_for.name}
                                    %} 
                                </li>                                
                                <li>                                  
                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:feature-name.html.twig'
                                        with {'name': plan_features.demo.access_to_results.private_tests.name}
                                    %} 
                                </li>                                  
                                <li class="last">                                  
                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:feature-name.html.twig'
                                        with {'name': plan_features.demo.access_to_results.read_only_reports.name}
                                    %} 
                                </li>                                   
                                <li class="heading">
                                    <span>{{ plan_features.demo.url_discovery.name }}</span>
                                </li>                                    
                                <li>
                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:feature-name.html.twig'
                                        with {'name': plan_features.demo.url_discovery.discovery_via_sitemap.name}
                                    %}                                   
                                </li>
                                <li class="last">
                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:feature-name.html.twig'
                                        with {'name': plan_features.demo.url_discovery.discovery_via_crawl.name}
                                    %}                               
                                </li>
                                <li class="heading">
                                    <span>{{ plan_features.demo.test_types.name }}</span>
                                </li>                        
                                <li>                                  
                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:feature-name.html.twig'
                                        with {'name': plan_features.demo.test_types.html_validation.name}
                                    %}
                                </li>                                  
                                <li>                                  
                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:feature-name.html.twig'
                                        with {'name': plan_features.demo.test_types.css_validation.name}
                                    %}
                                </li>                                
                                <li>                                  
                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:feature-name.html.twig'
                                        with {'name': plan_features.demo.test_types.js_static_analysis.name}
                                    %}
                                </li>                                 
                                <li class="last">                                  
                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:feature-name.html.twig'
                                        with {'name': plan_features.demo.test_types.link_integrity_checking.name}
                                    %}
                                </li>
                                <li class="heading">
                                    <span>{{ plan_features.demo.advanced_options.name }}</span>
                                </li>
                                <li>                                  
                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:feature-name.html.twig'
                                        with {'name': plan_features.demo.advanced_options.https_sites.name}
                                    %}
                                </li>                                
                                <li>                                  
                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:feature-name.html.twig'
                                        with {'name': plan_features.demo.advanced_options.http_authentication.name}
                                    %}
                                </li>
                                <li class="last final">                                  
                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:feature-name.html.twig'
                                        with {'name': plan_features.demo.advanced_options.custom_cookies.name}
                                    %}
                                </li>                                
                            </ul>
                        </div>
                        <div class="col-md-8 details">
                            <div class="pricing-tables attached">
                                <div class="plan first last">                           
                                    <div class="head">
                                        <div class="row">
                                            <div class="col-md-6 demo first heading">
                                                <h2>Demo</h2>
                                                <p>
                                                    If you're not signed in
                                                </p>
                                            </div>
                                            <div class="col-md-6 last heading">
                                                <h2>Premium plans</h2>
                                                <p>
                                                    From £9 per month
                                                </p>                                        
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row spacer spacer-first"></div>

                                    <div class="row data">
                                        <div class="col-md-6 demo">
                                        {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:per-test-limitations.html.twig'
                                            with plan_features.demo.test_limitations
                                        %}                                  
                                        </div>
                                        <div class="col-md-6">
                                        {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:per-test-limitations.html.twig'
                                            with plan_features.premium.test_limitations
                                        %}
                                        </div>
                                    </div>
                                    
                                    <div class="row spacer"><b></b></div>                                    
                                            
                                    <div class="row data">
                                        <div class="col-md-6 demo">
                                        {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:access-to-results.html.twig'
                                            with plan_features.demo.access_to_results
                                        %}                                  
                                        </div>
                                        <div class="col-md-6">
                                        {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:access-to-results.html.twig'
                                            with plan_features.premium.access_to_results
                                        %}
                                        </div>
                                    </div>                                    
                                    
                                    <div class="row spacer"><b></b></div>                                    
                                            
                                    <div class="row data">
                                        <div class="col-md-6 demo">
                                        {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:url-discovery.html.twig'
                                            with plan_features.demo.url_discovery
                                        %}                                    
                                        </div>
                                        <div class="col-md-6">
                                        {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:url-discovery.html.twig'
                                            with plan_features.premium.url_discovery
                                        %} 
                                        </div>
                                    </div>
                                    
                                    <div class="row spacer"><b></b></div>

                                    <div class="row data">
                                        <div class="col-md-6 demo">
                                        {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:test-types.html.twig'
                                            with plan_features.demo.test_types
                                        %}                                        
                                        </div>
                                        <div class="col-md-6">
                                        {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:test-types.html.twig'
                                            with plan_features.premium.test_types
                                        %}  
                                        </div>
                                    </div>                                    
                                            
                                    <div class="row spacer"><b></b></div>                                    
                                            
                                    <div class="row data final">
                                        <div class="col-md-6 demo">
                                        {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:advanced-options.html.twig'
                                            with plan_features.demo.advanced_options
                                        %} 
                                        </div>
                                        <div class="col-md-6">
                                        {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:advanced-options.html.twig'
                                            with plan_features.premium.advanced_options
                                        %} 
                                        </div>
                                    </div>
                                            
                                    <div class="row ctas">
                                        <div class="col-md-6">
                                            <a href="{{ web_client_urls.base }}" class="btn btn-default btn-plan-select {% if is_logged_in %}invisible{% endif %}">
                                                Try me now
                                            </a>                                             
                                        </div>
                                        <div class="col-md-6">
                                            {% if is_logged_in %}
                                                <a href="{{ path('page_plans') }}" class="btn btn-success btn-plan-select">
                                                    View premium plans <i class="fa fa-caret-right"></i>
                                                </a>                                                 
                                            {% else %}
                                                <a href="{{ web_client_urls.base }}{{ web_client_urls.sign_up }}" class="btn btn-success btn-plan-select">
                                                    <span class="primary">Sign up</span>
                                                    <span class="secondary">30-day trial. From &pound;9 per month.</span>
                                                </a>
                                            {% endif %}                                              
                                        </div>
                                    </div>
                                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                          
        </div>
    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Limited demo</h3>
                            <p>
                                The free demo lets you quickly try the service
                                out.
                            </p>
                            <p>
                                You can carry out both full-site and single-page
                                tests but both are limited in the number that
                                can be carried out per site or per page being tested.
                            </p>
                            <p>
                                You don't need to create an account but as a 
                                consequence all demo tests are visible to everyone.
                            </p>
                            <p>
                                The demo does not offer all the types of test
                                available to those who have an account.
                            </p>
                            <p>
                                Test results will be available for 24 hours only.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h3>Free account</h3>
                            <p>
                                A free account removes the limit on the number
                                of full-site and single-page tests that you can
                                carry out.
                            </p>
                            <p>
                                Tests created by you are visible only to you but
                                you can opt to make results public for sharing.
                            </p>
                            <p>
                                Test results are available for 7 days, giving
                                you more time to take action as required.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h3>Premium accounts</h3>
                            <p>
                                From as little as &pound;9 you can
                                examine up to 100,000 pages per test.
                            </p>
                            <p>
                                Tests created by you are again visible only to you but
                                you can opt to make results public for sharing.
                            </p>
                            <p>
                                Test results are available forever, giving
                                you as long as is needed to take action and
                                allowing you to compare current and past results.
                            </p>                            
                        </div>
                    </div>
                </div>                

            </div>
        </div>      
    </div>    
</div>

{% endblock %}