{% extends 'SimplyTestableWebsiteBundle::base.html.twig' %}

{% set plan_names = ['demo', 'premium'] %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@SimplyTestableWebsiteBundle/Resources/assets/css/pricing-tables.css'
    '@SimplyTestableWebsiteBundle/Resources/assets/css/pricing-table.css'
    '@SimplyTestableWebsiteBundle/Resources/assets/css/account-benefits.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <div id="landing-strip">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row heading">
                        <div class="col-md-10 col-md-offset-2">
                            <h1>Create an account. <br class="hidden-sm hidden-md hidden-lg">So much more than the demo.</h1>
                        </div>
                    </div>

                    <div class="pricing-tables pricing-tables-small attached hidden-md hidden-lg data">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="plan first demo">
                                    <div class="head hidden-sm">
                                        <h2>Limited demo features</h2>
                                        <p>
                                            What you get if you're not signed in
                                        </p>
                                    </div>

                                    <div class="head hidden-xs">
                                        <h2>Demo features</h2>
                                        <p>
                                            What you get if you're not signed in
                                        </p>
                                    </div>

                                    {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:display-xs-sm-account-options.html.twig'
                                        with {
                                            'plan': plans.demo,
                                            'distinctions': distinctions
                                        } only
                                    %}

                                    <div class="ctas {% if is_logged_in %}invisible{% endif %}">
                                        <a href="{{ web_client_urls.start_test }}" class="btn btn-default btn-sm hidden-xs">
                                            Try me now
                                        </a>

                                        <a href="{{ web_client_urls.start_test }}" class="btn btn-default hidden-sm">
                                            Try me now
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="plan last">
                                    <div class="head">
                                        <h2>Premium plans <span class="hidden-sm">features</span></h2>
                                        <p>
                                            From &pound;9 per month
                                        </p>
                                    </div>

                                    {%  include 'SimplyTestableWebsiteBundle:Partials/account-benefits:display-xs-sm-account-options.html.twig'
                                        with {
                                            'plan': plans.premium,
                                            'distinctions': distinctions
                                        } only
                                    %}

                                    <div class="ctas">
                                        {% if is_logged_in %}
                                        <a href="{{ path('page_plans') }}" class="btn btn-success btn-sm hidden-xs">
                                            View premium plans
                                        </a>

                                        <a href="{{ path('page_plans') }}" class="btn btn-success hidden-sm">
                                            View premium plans
                                        </a>
                                        {% else %}
                                        <a href="{{ path('page_plans') }}" class="btn btn-default btn-sm hidden-xs">
                                            View premium plans
                                        </a>

                                        <a href="{{ path('page_plans') }}" class="btn btn-default hidden-sm">
                                            View premium plans
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row data hidden-sm hidden-xs">
                        <div class="col-md-2 hidden-sm hidden-xs items">
                            <div class="head">
                                <h2>&nbsp;</h2>
                                <p>&nbsp;</p>
                            </div>
                            <ul>
                                {% for distinction_group in distinctions %}
                                    {% set group_loop_last = loop.last %}

                                    <li class="heading {{ loop.first ? 'heading-first' : '' }}">
                                        <span>{{ distinction_group.name }}</span>
                                    </li>

                                    {% for distinction in distinction_group.distinctions %}
                                        {% set class_attr = '' %}
                                        {% if loop.last %}
                                            {% set class_attr = class_attr ~ ' last' %}
                                        {% endif %}

                                        {% if group_loop_last %}
                                            {% set class_attr = class_attr ~ ' final' %}
                                        {% endif %}

                                        <li {% if class_attr != '' %}class="{{ class_attr }}"{% endif %}>
                                        {% include 'SimplyTestableWebsiteBundle:Partials/account-benefits:feature-name.html.twig'
                                            with {
                                                'name': distinction.name
                                            } only
                                        %}
                                        </li>
                                    {% endfor %}

                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-8 details">
                            <div class="pricing-tables attached">
                                <div class="plan first last">
                                    <div class="head">
                                        <div class="row">
                                            <div class="col-md-6 demo first heading">
                                                <h2>Demo</h2>
                                                <p>
                                                    If you're not signed in
                                                </p>
                                            </div>
                                            <div class="col-md-6 last heading">
                                                <h2>Premium plans</h2>
                                                <p>
                                                    From £9 per month
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    {% for distinction_group_id, distinction_group in distinctions %}
                                        {% set distinction_group_template_id = distinction_group_id|replace({'_': '-'}) %}
                                        {% set distinction_group_template = 'SimplyTestableWebsiteBundle:Partials/account-benefits:' ~ distinction_group_template_id ~ '.html.twig' %}

                                        <div class="row spacer{% if loop.first %} spacer-first{% endif %}"></div>
                                        <div class="row data{% if loop.last %} final{% endif %}">
                                            {% for plan_name in plan_names %}
                                                <div class="col-md-6 {{ plan_name }}">
                                                    {% include distinction_group_template
                                                        with {
                                                            'plan_distinctions': plans[plan_name].distinctions[distinction_group_id],
                                                            'category': distinctions[distinction_group_id]
                                                        } only
                                                    %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}

                                    <div class="row ctas">
                                        <div class="col-md-6">
                                            <a href="{{ web_client_urls.start_test }}" class="btn btn-default btn-plan-select {% if is_logged_in %}invisible{% endif %}">
                                                Try me now
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            {% if is_logged_in %}
                                                <a href="{{ path('page_plans') }}" class="btn btn-success btn-plan-select">
                                                    View premium plans <i class="fa fa-caret-right"></i>
                                                </a>
                                            {% else %}
                                                <a href="{{ web_client_urls.sign_up }}" class="btn btn-success btn-plan-select">
                                                    <span class="primary">Sign up</span>
                                                    <span class="secondary">30-day trial. From &pound;9 per month.</span>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Limited demo</h3>
                            <p>
                                The free demo lets you quickly try the service
                                out.
                            </p>
                            <p>
                                You can carry out both full-site and single-page
                                tests but both are limited in the number that
                                can be carried out per site or per page being tested.
                            </p>
                            <p>
                                You don't need to create an account but as a
                                consequence all demo tests are visible to everyone.
                            </p>
                            <p>
                                The demo does not offer all the types of test
                                available to those who have an account.
                            </p>
                            <p>
                                Test results will be available for 24 hours only.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h3>Free account</h3>
                            <p>
                                A free account removes the limit on the number
                                of full-site and single-page tests that you can
                                carry out.
                            </p>
                            <p>
                                Tests created by you are visible only to you but
                                you can opt to make results public for sharing.
                            </p>
                            <p>
                                Test results are available for 7 days, giving
                                you more time to take action as required.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h3>Premium accounts</h3>
                            <p>
                                From as little as &pound;9 you can
                                examine up to 100,000 pages per test.
                            </p>
                            <p>
                                Tests created by you are again visible only to you but
                                you can opt to make results public for sharing.
                            </p>
                            <p>
                                Test results are available forever, giving
                                you as long as is needed to take action and
                                allowing you to compare current and past results.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}