{% extends 'SimplyTestableWebsiteBundle::base.html.twig' %}

{% block stylesheets %}      
{{ parent() }}
{% stylesheets
    '@SimplyTestableWebsiteBundle/Resources/assets/css/splash.css'
    '@SimplyTestableWebsiteBundle/Resources/assets/css/tms.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block body %}

<div id="landing-strip">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    Automated frontend web testing
                </h1>
            </div>
        </div>

        <div class="row content">
            <div class="col-lg-6 col-md-6">
                <p>
                    One-click full-site <a href="{{ path('page_features') }}#html-validation">HTML validation</a>, <a href="{{ path('page_features') }}#css-validation">CSS validation</a>,
                    <a href="{{ path('page_features') }}#javascript-static-analysis"><span class="hidden-md hidden-sm hidden-xs">JavaScript</span><span class="hidden-lg">JS</span> static analysis</a> and <a href="{{ path('page_features') }}#broken-link-checking">broken link checking</a>.
                </p>
                <p>
                    Level up your geek cred. Make better websites.
                </p>
            </div>
            <div class="col-lg-6 col-md-6" id="ctas">
                <a class="cta btn btn-primary btn-lg" href="{{ [web_client_urls.base, web_client_urls.sign_up]|join('') }}?utm_source=tms&amp;utm_medium=podcast&amp;utm_campaign=tms">
                    <span class="primary">Create an account - 20% TMS exclusive discount!</span>
                    <span class="byline">30-day trial, no credit card needed. <span class="hidden-xs">And a caveman &hellip; maybe.</span></span>
                    <i class="fa fa-user"></i>
                </a>

            </div>
        </div>
    </div>
</div>

    <div class="feature-section feature-section-full">
        <div class="container">
            <div class="feature">
                <div class="row">
                    <div class="col-lg-7 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3">
                        <h2>One-click, hours saved</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-1 hidden-xs">
                        <i class="fa primary fa-clock-o"></i>
                    </div>
                    <div class="col-lg-7 col-md-8 col-sm-8">
                        <p>
                            Tried validating the HTML per page for a large site by hand and jotting down all the issues?
                        </p>
                        <p>
                            No, no-one does. It takes hours. No-one has time for that.
                        </p>
                        <p>
                            We let you test all the pages of a site no matter the size with just one click.
                        </p>
                        <p>
                            Get on with what is important and return
                            when your results are ready.
                        </p>
                    </div>
                </div>
            </div>


            <div class="feature">
                <div class="row fundamental">
                    <div class="col-lg-7 col-md-8 col-sm-8 col-lg-offset-3 col-md-offset-2 col-sm-offset-3">
                        <h2>Fundamental testing and reporting</h2>
                    </div>
                </div>

                <div class="row fundamental">
                    <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-1 hidden-xs">
                        <i class="fa primary fa-tachometer"></i>
                    </div>
                    <div class="col-lg-7 col-md-8 col-sm-8">
                        <p>
                            HTML validation, CSS validation, JS static analysis and broken link checking.
                        </p>
                        <p>
                            Live results as your multi-page test is carried out.
                        </p>
                        <p>
                            Overview report of successes and failures.
                        </p>
                        <p>
                            Detailed per-page error report.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature">
                <div class="row">
                    <div class="col-lg-7 col-md-8 col-sm-8 col-lg-offset-3 col-md-offset-2 col-sm-offset-3">
                        <h2>Team collaboration</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-1 hidden-xs">
                        <i class="fa primary fa-user"></i>
                    </div>
                    <div class="col-lg-7 col-md-8 col-sm-8">
                        <p>
                            Create a team and invite your colleagues to join.
                        </p>

                        <p>
                            Share a premium account within your organisation.
                        </p>

                        <p>
                            Any number of team members at no extra cost.
                        </p>

                        <p>
                            Easily share test results within your team.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div id="foo2" class="feature-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-lg-offset-4 col-md-offset-4">
                            <h2>Used extensively</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <p>
                                Over 17,000 test jobs run (so far).
                            </p>
                            <p>
                                112,000 unique URLS tested across 8,500 websites.
                            </p>
                            <p>
                                Over 491,000 per-page tests carried out.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-lg-offset-4 col-md-offset-4">
                            <h2>Global reach</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <p>
                                Regular daily users from the US, Europe, India and Japan.
                            </p>
                            <p>
                                Average month sees users from 175 countries.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="foo3" class="feature-section feature-section-last">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h2>Test history</h2>
                    <p>
                        Full list of past tests, searchable and filterable.
                    </p>
                    <p>
                        Easily find past tests to compare against.
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h2>Tweakable CSS</h2>
                    <p>
                        Who's a fan of vendor-specific CSS property warnings?
                    </p>
                    <p>
                        No one. We ignore these by default.
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h2>Tweakable JSLint</h2>
                    <p>
                        Customisable JSLint options for JS static analysis.
                    </p>
                    <p>
                        With sane defaults. Filter out the noise.
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h2>Need something?</h2>
                    <p>
                        What frontend testing pains do you face?
                    </p>
                    <p>
                        <a href="mailto:&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#64;&#115;&#105;&#109;&#112;&#108;&#121;&#116;&#101;&#115;&#116;&#97;&#98;&#108;&#101;&#46;&#99;&#111;&#109;">Tell
                            us what you want</a> and we'll make it.
                    </p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}