{% extends 'base.html.twig' %}

{% block body_class %}{{ parent() }} page-accountbenefits {% endblock %}

{% set plan_names = ['demo', 'premium'] %}

{% block body %}
    <div id="landing-strip">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row headline">
                        <div class="col-md-10 col-md-offset-2">
                            <h1>Create an account. <br class="hidden-sm hidden-md hidden-lg">So much more than the demo.</h1>
                        </div>
                    </div>

                    <div class="hidden-md hidden-lg distinctions-table">
                        <div class="row distinction-data">
                            <div class="col-sm-6 distinction-data-column">
                                <div class="demo">
                                    <div class="distinction-data-heading demo">
                                        <h2>
                                            <span class="hidden-sm">Limited demo features</span>
                                            <span class="hidden-xs">Demo features</span>
                                        </h2>
                                        <p>
                                            What you get if you're not signed in
                                        </p>
                                    </div>

                                    {% include ':Partials/account-benefits:display-xs-sm-account-options.html.twig'
                                        with {
                                            'plan': plans.demo,
                                            'distinctions': distinctions
                                        } only
                                    %}

                                    {% if not is_logged_in %}
                                        <div class="ctas">
                                            <a href="{{ web_client_urls.start_test }}" class="btn btn-default btn-plan-select">
                                                Try me now
                                            </a>
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="col-sm-6 distinction-data-column">
                                <div class="last">
                                    <div class="distinction-data-heading">
                                        <h2>Premium plans <span class="hidden-sm">features</span></h2>
                                        <p>
                                            From {{ plans.premium.price|raw }} per month
                                        </p>
                                    </div>

                                    {%  include ':Partials/account-benefits:display-xs-sm-account-options.html.twig'
                                        with {
                                            'plan': plans.premium,
                                            'distinctions': distinctions
                                        } only
                                    %}

                                    <div class="ctas">
                                        {% if is_logged_in %}
                                            <a href="{{ path('page_plans') }}" class="btn btn-success btn-plan-select">
                                                View premium plans <i class="fa fa-caret-right"></i>
                                            </a>
                                        {% else %}
                                            <a href="{{ web_client_urls.sign_up }}" class="btn btn-success btn-plan-select">
                                                <span class="primary">Sign up</span>
                                                <span class="secondary">30-day trial. From {{ plans.premium.price|raw }} per month.</span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row hidden-sm hidden-xs distinctions-table">
                        <div class="col-md-2 hidden-sm hidden-xs distinction-labels">
                            {% for distinction_group in distinctions %}
                                <ul class="distinction-label-group">
                                    {% set group_loop_last = loop.last %}

                                    <li class="distinction-heading">
                                        <span>{{ distinction_group.name }}</span>
                                    </li>

                                    {% for distinction in distinction_group.distinctions %}
                                        {% set class_attr = 'distinction-label ' %}

                                        {% if group_loop_last %}
                                            {% set class_attr = class_attr ~ ' final' %}
                                        {% endif %}

                                        <li {% if class_attr != '' %}class="{{ class_attr }}"{% endif %}>
                                            {% include ':Partials/account-benefits:feature-name.html.twig'
                                                with {
                                                'name': distinction.name
                                            } only
                                            %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                        <div class="col-md-8 hidden-sm hidden-xs distinction-data">
                            <div class="row">
                                <div class="col-md-6 distinction-data-heading demo">
                                    <h2>Demo</h2>
                                    <p>
                                        If you're not signed in
                                    </p>
                                </div>
                                <div class="col-md-6 distinction-data-heading">
                                    <h2>Premium plans</h2>
                                    <p>
                                        From {{ plans.premium.price|raw }} per month
                                    </p>
                                </div>
                            </div>

                            {% for distinction_group_id, distinction_group in distinctions %}
                                {% set distinction_group_template_id = distinction_group_id|replace({'_': '-'}) %}
                                {% set distinction_group_template = ':Partials/account-benefits:' ~ distinction_group_template_id ~ '.html.twig' %}

                                <div class="row data{% if loop.last %} final{% endif %} {% if loop.first %} first{% endif %}">
                                    {% for plan in plans %}
                                        <div class="col-md-6 distinction-data-column {{ plan.id }}">
                                            {% include distinction_group_template
                                                with {
                                                'plan_distinctions': plan.distinctions[distinction_group_id],
                                                'category': distinctions[distinction_group_id]
                                            } only
                                            %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}

                            <div class="row ctas">
                                <div class="col-md-6">
                                    <a href="{{ web_client_urls.start_test }}" class="btn btn-default btn-plan-select {% if is_logged_in %}invisible{% endif %}">
                                        Try me now
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    {% if is_logged_in %}
                                        <a href="{{ path('page_plans') }}" class="btn btn-success btn-plan-select">
                                            View premium plans <i class="fa fa-caret-right"></i>
                                        </a>
                                    {% else %}
                                        <a href="{{ web_client_urls.sign_up }}" class="btn btn-success btn-plan-select">
                                            <span class="primary">Sign up</span>
                                            <span class="secondary">30-day trial. From {{ plans.premium.price|raw }} per month.</span>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Limited demo</h3>
                        <p>
                            The free demo lets you quickly try the service
                            out.
                        </p>
                        <p>
                            You can carry out both full-site and single-page
                            tests but both are limited in the number that
                            can be carried out per site or per page being tested.
                        </p>
                        <p>
                            You don't need to create an account but as a
                            consequence all demo tests are visible to everyone.
                        </p>
                        <p>
                            The demo does not offer all the types of test
                            available to those who have an account.
                        </p>
                        <p>
                            Test results will be available for 24 hours only.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h3>Free account</h3>
                        <p>
                            A free account removes the limit on the number
                            of full-site and single-page tests that you can
                            carry out.
                        </p>
                        <p>
                            Tests created by you are visible only to you but
                            you can opt to make results public for sharing.
                        </p>
                        <p>
                            Test results are available for 7 days, giving
                            you more time to take action as required.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h3>Premium accounts</h3>
                        <p>
                            From as little as {{ plans.premium.price|raw }} you can
                            examine up to 100,000 pages per test.
                        </p>
                        <p>
                            Tests created by you are again visible only to you but
                            you can opt to make results public for sharing.
                        </p>
                        <p>
                            Test results are available forever, giving
                            you as long as is needed to take action and
                            allowing you to compare current and past results.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
