{% extends 'base.html.twig' %}

{% macro cta_button(plan_name, is_logged_in, web_client_urls) %}
    {% if is_logged_in %}
        <form method="post" action="{{ web_client_urls.plan_subscribe }}">
            <input type="hidden" name="plan" value="{{ plan_name }}" />
            <button type="submit" class="btn btn-success btn-plan-select">Subscribe now</button>
        </form>
    {% else %}
        <a href="{{ web_client_urls.sign_up }}?plan={{ plan_name }}" class="btn btn-success btn-plan-select">
            <span class="primary">Sign up</span>
            <span class="secondary">30-day trial, no credit card required</span>
        </a>
    {% endif %}
{% endmacro %}

{% import _self as pricing_table %}

{% set recommended_plan = 'agency' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/plans.css') }}">
{% endblock %}

{% block body %}

    <div id="landing-strip">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>30 day free trial. No credit card required.</h1>
                </div>
            </div>

            <div class="pricing-tables">
                <div class="row">
                    {% for plan in plans %}
                        {% set plan_container_class = 'plan ' %}
                        {% if loop.first %}
                            {% set plan_container_class = plan_container_class ~ ' first' %}
                        {% endif %}

                        {% if loop.last %}
                            {% set plan_container_class = plan_container_class ~ ' last' %}
                        {% endif %}

                        {% if plan.id == recommended_plan %}
                            {% set plan_container_class = plan_container_class ~ ' recommended' %}
                        {% endif %}

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="{{ plan_container_class }}">
                                <div class="head">
                                    <a href="{{ path('plandetails_index', {'name': plan.id}) }}">
                                        <h2 class="name">{{ plan.name }}</h2>
                                        <p class="subtitle">{{ plan.subtitle }}</p>
                                    </a>
                                </div>

                                <div class="price">
                                    <p><span>{{ plan.price|raw }} <i>per month</i></span></p>
                                </div>

                                <ul>
                                    <li>{{ plan.distinctions.test_limitations.full_site_tests_per_site }} full-site tests</li>
                                    <li>{{ plan.distinctions.test_limitations.single_page_tests_per_page }} single-page tests</li>
                                    <li>{{ plan.distinctions.test_limitations.pages_examined_per_test }} pages examined per test</li>
                                    <li>{{ plan.distinctions.test_limitations.credits_per_month }} credits</li>
                                </ul>

                                {{ pricing_table.cta_button(plan.id, is_logged_in, web_client_urls) }}

                                <a href="{{ path('plandetails_index', {'name': plan.id}) }}" class="more">Find out more <i class="fa fa-caret-right"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Need more detail? Find out about the <a href="{{ path('page_accountbenefits') }}">benefits of creating an account</a>.
                    </p>

                    <p>
                        Need to test sites larger than 2,500 pages or need to run many large tests? Our <a href="{{ path('plandetails_index', {'name': 'enterprise'}) }}">custom enterprise plans</a> can be tailored to your precise needs.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-12 iconified-section">
                    <div class="inner">
                        <div class="col-md-4">
                            <h3>How does the free trial work?</h3>

                            <p>
                                You can sign up and use Simply Testable for 30 days
                                without having to enter any credit card details.
                            </p>

                            <p>
                                If you provide your card details before your trial
                                ends you will continue with the plan you chose.
                                You will be billed monthly from the end of your
                                trial.
                            </p>

                            <p>
                                If you don't provide card details you will be
                                downgraded to a free basic account  with the option
                                to upgrade to a paid plan at your convenience.
                            </p>

                        </div>
                        <div class="col-md-4">
                            <h3>What are credits?</h3>
                            <p>
                                Performing a HTML validation, CSS validation or
                                JSLint analysis on a single URL requires one credit.
                            </p>

                            <p>
                                Performing all three on a 10 page site would require
                                30 credits.
                            </p>

                            <p>
                                The number of monthly credits you have available
                                depends on the plan you choose.
                            </p>

                            <p>
                                Credits don't roll over from one month to the next.
                            </p>

                        </div>
                        <div class="col-md-4">
                            <h3>How long are your contracts?</h3>

                            <p>
                                All plans are month to month.
                            </p>

                            <h3>When can I cancel?</h3>

                            <p>
                                You can cancel at any time. If you cancel during
                                a billing cycle (which is quite likely unless you
                                time things very well) we will refund you for the
                                remainder of the month not yet used.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}