{% extends 'landing-page.html.twig' %}

{% block body_class %}{{ parent() }} tms {% endblock %}

{% block landing_strip %}
    <div id="landing-strip">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>
                        Automated frontend web testing
                    </h1>
                </div>
            </div>

            <div class="row content">
                <div class="col-lg-6 col-md-6">
                    <p>
                        One-click full-site <a href="{{ path('page_features') }}#html-validation">HTML validation</a>, <a href="{{ path('page_features') }}#css-validation">CSS validation</a>,
                        <a href="{{ path('page_features') }}#javascript-static-analysis"><span class="hidden-md hidden-sm hidden-xs">JavaScript</span><span class="hidden-lg">JS</span> static analysis</a> and <a href="{{ path('page_features') }}#broken-link-checking">broken link checking</a>.
                    </p>
                    <p>
                        Level up your geek cred. Make better websites.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6" id="ctas">
                    <a class="cta btn btn-primary btn-lg" href="{{ web_client_urls.sign_up }}?utm_source=tms&amp;utm_medium=podcast&amp;utm_campaign=tms">
                        <span class="primary">Create an account - 20% TMS exclusive discount!</span>
                        <span class="byline">30-day trial, no credit card needed. <span class="hidden-xs">And a caveman &hellip; maybe.</span></span>
                        <i class="fa fa-user"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
