<div id="footer-announcements">
    <div class="container">
        <div class="row-fluid">            
            <div class="span6" id="love">
                <h4><i class="icon icon-heart"></i> People Who Love Us</h4>            
                <blockquote>

                    <p>
                        <span class="quotemark quotemark-left">&ldquo;</span>
                        {{ testimonial.content }}
                        <span class="quotemark quotemark-right">&rdquo;</span>

                    </p>

                    <footer>
                        &mdash;
                        <cite>
                            <a href="{{ testimonial.url }}">{{ testimonial.name }}</a>
                        </cite>
                    </footer>
                </blockquote>                
            </div>
            <div class="span6">                
                <div id="footer-twitter-status" class="tweet-container">        
                    <h4><i class=icon-twitter></i> <a href="http://twitter.com/simplytestable/">@simplytestable</a></h4>
                    <div id="footer-tweet" class="tweet">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id enim quam, sed posuere risus. Ut porta rhoncus dignissim. Pellentesque sed.
                    </div>
                    <p>
                        <i class="icon icon-twitter"></i>
                        <a href="//twitter.com/simplytestable/">Follow @simplytestable</a>              
                    </p>
                </div>
            </div>
        </div> 

    </div>
</div>

<div id="footer-detail">
    <div class="container">
        <div class="row-fluid">
            <div class="span2 doclinks">
                <div>
                    <ul>
                        <li>
                            <a href="http://help.simplytestable.com/legal/cookies/">
                                <i class="icon icon-file"></i>
                                <span>Cookie policy</span>
                            </a>
                        </li>                    
                        <li>
                            <a href="http://help.simplytestable.com/legal/privacy/">
                                <i class="icon icon-file"></i>
                                <span>Privacy policy</span>
                            </a>
                        </li>                                
                        <li>
                            <a href="http://help.simplytestable.com/legal/terms-of-service/">
                                <i class="icon icon-file"></i>
                                <span>Terms of service</span>
                            </a>
                        </li>    
                    </ul>
                </div>
            </div>

            <div class="span2 doclinks">
                <div>
                    <ul>
                        <li>
                            <a href="{{ web_client['urls']['base'] }}{{ web_client['urls']['start_test'] }}">
                                <i class="icon icon-play-circle"></i>
                                <span>
                                    {% if is_logged_in %}
                                    Start a new test
                                    {% else %}
                                    Try a demo
                                    {% endif %}
                                </span>
                            </a>
                        </li>                    
                        <li>
                            <a href="{{ path('features') }}">
                                <i class="icon icon-signal"></i>
                                <span>Features</span>
                            </a>
                        </li>                    
                        <li>
                            <a href="{{ path('plans') }}">
                                <i class="icon icon-dashboard"></i>
                                <span>Pricing and plans</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="span2 doclinks">
                <div>
                    <ul>
                        <li>
                            <a href="mailto:&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#64;&#115;&#105;&#109;&#112;&#108;&#121;&#116;&#101;&#115;&#116;&#97;&#98;&#108;&#101;&#46;&#99;&#111;&#109;">
                                <i class="icon icon-envelope"></i>
                                <span>Contact us</span>
                            </a>
                        </li>                    
                        <li>                            
                            <a href="http://blog.simplytestable.com/">
                                <i class="icon icon-comments-alt"></i>
                                <span>Read our blog</span>
                            </a>       
                        </li>
                    </ul>
                </div>
            </div>


            <div class="span4 stay-updated">                
                <a href="http://eepurl.com/ni82f">
                    <i class="icon icon-bullhorn"></i>
                    <span class="content">Sign up for our weekly updates newsletter</span>
                    <span class="subtext">
                        Get advanced invites to beta access and updates on new features. You can
                        unsubscribe at any time if this bothers you.
                    </span>  
                </a>
            </div>
        </div> 

    </div>
</div>