<div class="navbar navbar-inverse navbar-fixed-top">    
    <div class="navbar-inner">

        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <a class="brand" href="{{ path('homepage') }}">
                        SimplyTestable
                        {% if app.request.get('_route') != 'homepage' %}
                        <span>automated front-end web testing</span>
                        {% endif %}
                    </a>
                    {% if is_logged_in %}
                    <div class="pull-right">                        
                        <form class="form-inline sign-out-form" method="post" action="{{ path('sign_out_submit') }}">
                            <p class="navbar-text">                                
                                <!--<a href="{# path('user', {'email':user.username}) #}" class="navbar-link">-->
                                    <i class="icon icon-user"></i>
                                    {{ user.username }}
                                <!--</a>-->
                                <button class="btn btn-small btn-primary" type="submit">
                                    Sign out
                                    <i class="icon icon-caret-right"></i>
                                </button>
                            </p>                        
                        </form>                              
                    </div> 
                    <ul class="nav pull-right">
                        <li class=""><i class="icon icon-play-circle"></i> <a href="{{ web_client['urls']['base'] }}{{ web_client['urls']['start_test'] }}">Start a new website test</a></li>
                        <li class=""><i class="icon icon-cog"></i> <a href="{{ web_client['urls']['base'] }}{{ web_client['urls']['recent_tests'] }}">Recent tests</a></li>
                    </ul>                        

                    {% else %}                        
                    <p class="navbar-text pull-right">                        
                        <a href="{{ web_client['urls']['base'] }}{{ web_client['urls']['sign_in'] }}" class="btn "><i class="icon icon-caret-right"></i> Sign in</a>                        
                        <a href="{{ web_client['urls']['base'] }}{{ web_client['urls']['sign_up'] }}" class="btn btn-primary"><i class="icon icon-user"></i> Create account</a>                        
                    </p>  
                    <ul class="nav pull-right">
                        <li class=""><i class="icon icon-play-circle"></i> <a href="{{ web_client['urls']['base'] }}{{ web_client['urls']['start_test'] }}">Start a new website test</a></li>
                    </ul>                    
                    {% endif %} 
                </div>
            </div>
        </div>

    </div>
</div>