<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="description" content="">
        <meta name="author" content="">
        

        <title>{% block title %}Simply Testable professional automated front-end web testing{% endblock %}</title>

        {% block stylesheets %}
            <!--[if lt IE 9]>
            {% stylesheets    
            '@SimplyTestableWebsiteBundle/Resources/assets/css/bootstrap.min.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}                
            
            {% stylesheets    
            '@SimplyTestableWebsiteBundle/Resources/assets/css/font-awesome.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <![endif]-->
            
            <!--[if gt IE 8]>
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">            
            <![endif]-->            
            
            <!--[if !IE]><!-->
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
            <!--<![endif]-->

            {% stylesheets    
            '@SimplyTestableWebsiteBundle/Resources/assets/css/main.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}          
        {% endblock %}     


        {% block javascripts %}        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>        

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            
            {% javascripts '@SimplyTestableWebsiteBundle/Resources/assets/vendor/internet-explorer-opacity-polyfill/internet-explorer-opacity-polyfill/ie-opacity-polyfill.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}             
            <![endif]-->

            <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>    

            {% javascripts '@SimplyTestableWebsiteBundle/Resources/assets/js/app.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}      

        {% endblock %}


    </head>   
    
{% set route_body_class = app.request.get('_route') | replace({'_' : '-'})  %}
{% set is_logged_in_body_class = (is_logged_in) ? 'logged-in' : 'not-logged-in' %} 
{% set body_class = [route_body_class, is_logged_in_body_class]|join(' ') %}
    
    <!--[if lt IE 8]>
    <body class="ltIE8 {{ body_class }} {% block body_ltIE8_class %} {% endblock %}">
    <![endif]-->                                
    <!--[if IE 8]>
    <body class="IE8 {{ body_class }} {% block body_IE8_class %} {% endblock %}">
    <![endif]-->
    <!--[if IE 9]>
    <body class="IE9 {{ body_class }} {% block body_IE9_class %} {% endblock %}">
    <![endif]-->
    <!--[if !IE]> -->
    <body class="{{ body_class }} {% block body_class %} {% endblock %}">
    <!-- <![endif]-->    

{% include 'SimplyTestableWebsiteBundle:Partials:navbar.html.twig' %}

{% block body %}{% endblock %}

{% include 'SimplyTestableWebsiteBundle:Partials:footer.html.twig' %}

        <!-- ideally move all suitable JS here -->
    </body>
</html>
