{% extends 'SimplyTestableWebsiteBundle::base.html.twig' %}

{% block stylesheets %}      
    {{ parent() }}
    {% stylesheets    
    '@SimplyTestableWebsiteBundle/Resources/assets/css/content.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %} 
{% endblock %}

{% block body_class %} content {{ parent() }}{% endblock %}
{% block body_ltIE7_class %} content {{ parent() }}{% endblock %}
{% block body_IE7_class %} content {{ parent() }}{% endblock %}
{% block body_IE8_class %} content {{ parent() }}{% endblock %}
{% block body_IE9_class %} content {{ parent() }}{% endblock %}

{% block body %}
    <div id="landing-strip">
        <div class="container">
            <div class="row">

                <div id="logo" class="hidden-xs">           
                    {% if app.request.get('_route') != 'homepage' %}                
                        <a href="{{ path('homepage') }}">Simply Testable Homepage</a>
                    {% endif %}                
                </div>   

                <div class="col-lg-8 col-md-6 intro">
                    <div class="leader">
                        <h1>
                            {% block leader_heading %}Leader Heading{% endblock %}
                        </h1>
                        <p>    
                            {% block leader_strapline %}                                
                                Save time and take the pain out of routine front-end web testing. One-click testing of your entire site.                                                           
                            {% endblock %} 
                        </p> 
                    </div>
                    <div class="content">
                        {% block intro_content %}
                            <p>
                                Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>                              
                            <p>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                                officia deserunt mollit anim id est laborum.
                            </p>                                 
                        {% endblock %}                             
                    </div>                        
                </div>
                <div class="col-lg-4 col-md-6 hidden-sm hidden-xs">                     
                    {% include 'SimplyTestableWebsiteBundle:Partials:landing-tweet.html.twig' %}                   
                </div>
                <div class="col-lg-4 col-md-6 hidden-sm hidden-xs">                     
                    {% include 'SimplyTestableWebsiteBundle:Partials:start-new-test-form.html.twig' %}                           
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">   
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="inner">
                                {% block inner_content %}
                                    <h2>Inner Content Heading</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin purus enim, varius vitae placerat quis, mollis eget felis. Aliquam tristique lacinia sem, vulputate cursus ligula porttitor vitae. Maecenas purus tellus, hendrerit laoreet luctus ut, tincidunt vel ante. Praesent ut bibendum quam. Sed interdum ligula quis nisl lacinia aliquet. Duis risus libero, dignissim quis euismod ac, commodo ut mi. Fusce laoreet ultricies molestie. Aliquam sed augue enim, ut tincidunt mauris. Maecenas convallis semper erat vel scelerisque. Praesent tempor ornare leo, ut imperdiet nisi pretium vel. Mauris id augue et neque pellentesque pulvinar. Proin velit neque, ultrices vitae pretium id, adipiscing sed felis. Cras a tortor vitae orci condimentum fringilla a a lacus. Vivamus erat elit, lacinia nec ornare faucibus, dignissim sit amet nibh. Integer ut tellus quam. Curabitur ut tincidunt tellus.
                                    </p>
                                    <p>
                                        Praesent id felis velit, et porta neque. Sed pellentesque diam sit amet elit viverra posuere. Proin a leo at dolor suscipit vulputate. Integer ac auctor mauris. Proin ullamcorper, nibh vel bibendum dapibus, risus magna auctor risus, quis hendrerit lorem sapien ac ante. Etiam et mollis nulla. Phasellus in fringilla libero. Vivamus pretium commodo lorem, at iaculis est faucibus et. Nulla pellentesque lobortis congue. Morbi scelerisque tempor consectetur. Nunc sodales, odio quis posuere vulputate, nunc arcu consectetur ante, id elementum erat risus at dui. Ut posuere, quam vitae lobortis posuere, sapien velit fermentum lorem, quis venenatis arcu tellus at nunc. Etiam luctus venenatis turpis sed semper. Fusce velit velit, egestas a consectetur ut, volutpat quis lorem. Vestibulum in purus eget tellus semper convallis. Ut aliquet dapibus enim, ac iaculis diam rutrum sit amet.
                                    </p>
                                    <p>
                                        Duis quis pellentesque orci. Donec luctus condimentum nibh, a laoreet nisl egestas non. Integer condimentum, urna in luctus venenatis, felis arcu commodo nisi, id eleifend dolor tellus sit amet neque. Vestibulum at eleifend dui. Etiam malesuada, orci vitae euismod volutpat, risus neque fringilla felis, ut posuere est tellus at eros. Quisque cursus augue eget elit placerat malesuada. Nullam tristique nunc in lectus varius lacinia ac id purus. Duis luctus nibh nisi, vel tempus dolor. Pellentesque a purus sit amet nisl fermentum eleifend tincidunt eu tortor. Etiam fringilla vehicula odio condimentum ornare. Fusce tristique interdum metus, id hendrerit ipsum ultrices eu. Duis rutrum dapibus porta. Pellentesque at elit id enim tincidunt laoreet eget varius urna. Donec iaculis, tortor sed porttitor imperdiet, lacus velit porta urna, ac fringilla tortor mauris eu neque. Sed sed dolor at sapien euismod accumsan ac a dui. Morbi sed turpis purus.
                                    </p>
                                    <p>
                                        Curabitur vestibulum mollis odio, id lacinia eros mollis non. Duis vestibulum eleifend nulla, in pulvinar felis euismod non. Morbi odio nisi, pharetra et porta sed, placerat ullamcorper tortor. Ut magna nulla, dignissim vel tincidunt et, commodo quis nisi. Nullam nec libero id nulla commodo pulvinar. Sed nec sagittis justo. Mauris consectetur quam sed erat lobortis ultricies. Nam vel ipsum nisi. Aliquam erat volutpat. Quisque a dui eu quam commodo blandit. Sed non ipsum quam. In vitae lorem ut mi bibendum tristique. Cras dapibus rutrum erat, sed consectetur turpis viverra sed. Fusce pulvinar velit sit amet leo mattis elementum.
                                    </p>
                                    <p>
                                        Curabitur tempor diam nec erat dapibus ut sollicitudin turpis facilisis. Phasellus condimentum, dui sed imperdiet fermentum, ipsum sapien malesuada lacus, eu vestibulum justo velit ac dolor. Donec eget orci et enim dapibus tincidunt at id neque. Ut magna dolor, mollis in dapibus eu, accumsan ut dolor. Etiam in justo enim. In enim libero, ornare ac euismod a, sodales id nulla. Morbi ut augue sagittis enim egestas congue et et mauris. Nunc lobortis, velit quis ullamcorper porttitor, nisi eros blandit justo, eu interdum turpis ante sed urna. Praesent tempus, dui vitae blandit adipiscing, purus ante egestas leo, in imperdiet eros diam ut tellus. Nullam et fermentum libero. Integer rhoncus dapibus porttitor. Vestibulum tincidunt interdum neque, nec porta sapien tincidunt in. Sed at dolor sem, a congue dolor. Mauris vel odio vitae orci consectetur pretium et non est. Aliquam vel tellus metus.
                                    </p>
                                {% endblock %}
                            </div>
                        </div>
                        <div class="col-md-4 sidebar">
                            {% block sidebar %}
                                {% include 'SimplyTestableWebsiteBundle:Partials:about.html.twig' %}
                                {% include 'SimplyTestableWebsiteBundle:Partials:newsletter.html.twig' %}
                            {% endblock %}                   
                        </div>                        
                    </div>
                </div>
            </div>                      
        </div>
    </div>                

{% endblock %}