{% extends 'SimplyTestableWebsiteBundle::base.html.twig' %}

{% block stylesheets %}          
    {{ parent() }}
    {% stylesheets    
    '@SimplyTestableWebsiteBundle/Resources/assets/css/homepage.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %} 
{% endblock %}

{% block body %}
    <div id="landing-strip">
        <div class="container">
            <div class="row">
                <div id="logo">           
                    {% if app.request.get('_route') != 'homepage' %}                
                        <a href="{{ path('homepage') }}">Simply Testable Homepage</a>
                    {% endif %}                
                </div>                 
                <div class="col-lg-7 col-md-6">
                    <div class="leader">
                        <h1>
                            Automated front-end web testing
                        </h1>    
                        <p>
                            Save time and take the pain out of routine front-end web testing.
                            One-click testing of your entire site.
                        </p>                            
                    </div>
                    <div class="content">
                        <ul class="iconed-list">
                            <li>
                                <p>
                                    <i class="fa fa-check"></i> HTML validation, CSS validation and JavaScript linting
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="fa fa-check"></i></i> Link integrity (broken link) checking
                                </p>
                            </li>                                
                            <li>
                                <p>
                                    <i class="fa fa-check"></i> Test either your full site or a single page with just one click
                                </p>
                            </li>                                
                            <li>                                    
                                <p>
                                    <i class="fa fa-check"></i> <a href="http://gears.simplytestable.com/http://blog.simplytestable.com//462/">overview report</a> of successes and failures
                                </p>
                            </li>                                
                            <li>
                                <p>
                                    <i class="fa fa-check"></i> detailed <a href="http://gears.simplytestable.com/http://blog.simplytestable.com//462/276988/results/">per-URL error report</a>
                                </p>
                            </li>
                        </ul>
                    </div> 
                </div>
                <div class="col-lg-5 col-md-6">
                    {% include 'SimplyTestableWebsiteBundle:Partials/homepage:carousel.html.twig' %}
                </div>
            </div>
            <div class="row ctas">
                <div class="col-md-3">
                    {% include 'SimplyTestableWebsiteBundle:Partials:start-new-test-form.html.twig' %}
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>                
            </div>
        </div> <!-- /container -->  
        <div class="fadestrip"></div>
    </div>
            
    <div id="features">
        <div class="container iconified-section">        
            <!-- Example row of columns -->
            <div class="row">
                <i class="fa section-icon fa-signal"></i>
                <div class="col-md-4 col-sm-6 feature-section">
                    <h2>Technical verification</h2>                
                    <ul class="iconed-list">
                        <li class="completed">
                            <p><i class="fa fa-check"></i> <span class="content">HTML validation</span></p>
                        </li>
                        <li class="completed">
                            <p><i class="fa fa-check"></i> <span class="content">CSS validation</span></p>
                        </li>                             
                        <li class="completed">
                            <p><i class="fa fa-check"></i> <span class="content">JavaScript quality checks with <a href="http://en.wikipedia.org/wiki/JSLint">JSLint</a></span></p>
                        </li>                            
                    </ul>                
                </div>
                <div class="col-md-4 col-sm-6  feature-section">
                    <h2>Quality checks</h2>
                    <ul class="iconed-list">
                        <li class="completed">
                            <p><i class="fa fa-check"></i> <span class="content">Find broken links (requires a <a href="{{ web_client_urls['base'] }}{{ web_client_urls['sign_up'] }}">free</a> or <a href="{{ path('plans') }}">premium</a> account)</span></p>
                        </li>                          
                    </ul> 
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-md-4 col-sm-6  feature-section">
                    <h2>One-click full-site testing</h2>

                    {#http://blog.simplytestable.com/urls-now-collected-from-news-feeds/#}

                    <ul class="iconed-list">
                        <li>
                            <p><i class="fa fa-check"></i> <span class="content">Auto-discover pages within your XML sitemap (including <a href="http://blog.simplytestable.com/multiple-sitemaps-indexed-sitemaps-supported/">multiple sitemaps, indexed sitemaps</a> and <a href="http://blog.simplytestable.com/compressed-sitemaps-now-supported/">compressed sitemaps</a>)</span></p>
                        </li>                            
                        <li>
                            <p><i class="fa fa-check"></i> <span class="content">Crawl your site to find pages to test if you have no sitemap (requires a <a href="{{ web_client_urls['base'] }}{{ web_client_urls['sign_up'] }}">free</a> or <a href="{{ path('plans') }}">premium</a> account)</span></p>
                        </li>                    
                    </ul> 
                </div>
            </div>
        </div>
    </div>

    <div class="container iconified-section" id="recent-site-tests">        
        <!-- Example row of columns -->
        <div class="row">
            <i class="fa section-icon fa-cog"></i>
            <div class="col-md-12">
                <h2>Recent demo tests</h2>                
{% include 'SimplyTestableWebsiteBundle:Partials:/homepage/recent-test-list.html.twig' with {'tests':recent_tests} %}                  
            </div>
        </div>
    </div>   
{% endblock %}

