
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Simply Testable professional automated front-end web testing{% endblock %}</title>

        {% block stylesheets %}    
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

            {% stylesheets    
            '@SimplyTestableWebsiteBundle/Resources/assets/css/main.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}          
        {% endblock %}     


        {% block javascripts %}        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>        

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->        

            <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>    

            {#        {% javascripts '@SimplyTestableWebsiteBundle/Resources/assets/js/app.js' %}
                        <script type="text/javascript" src="{{ asset_url }}"></script>
                    {% endjavascripts %}  #}      

        {% endblock %}


    </head>

    <body class="{%if is_logged_in%}logged-in{% else %}not-logged-in{% endif %}">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>       

                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        SimplyTestable
                        {% if app.request.get('_route') != 'homepage' %}
                            <span>automated front-end web testing</span>
                        {% endif %}                        
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ web_client_urls['base'] }}{{ web_client_urls['start_test'] }}">
                                <i class="fa fa-tachometer"></i>
                                {% if is_logged_in %}
                                    Dashboard
                                {% else %}
                                    Demo dashboard (try me)
                                {% endif %}                                
                            </a>
                        </li>
                        <li class="{% if app.request.get('_route') == 'features' %}active{% endif %}">
                            <a href="{{ path('features') }}">
                                <i class="fa fa-signal"></i> Features
                            </a>
                        </li>
                        <li class="{% if app.request.get('_route') == 'plans' %}active{% endif %}">
                            <a href="{{ path('plans') }}">
                                <i class="fa fa-calendar"></i> Pricing and plans
                            </a>
                        </li>

                        {% if is_logged_in %}
                            <li class="user-actions">
                                <p class="navbar-text spacer highlighted-spacer">&nbsp;</p>
                                <a href="{{ web_client_urls['base'] }}{{ web_client_urls['account'] }}">
                                    <i class="fa fa-user"></i> {{ user.username }}
                                </a>
                            </li>                         
                            <li>
                                <form class="navbar-form signout-form" method="post" action="{{ path('sign_out_submit') }}">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        Sign out
                                        <i class="fa fa-caret-right"></i>
                                    </button>
                                </form>
                            </li>                               
                        {% else %}
                            <li class="user-actions">                                
                                <div>
                                    <p class="navbar-text spacer highlighted-spacer">&nbsp;</p>
                                    <a href="{{ web_client_urls['base'] }}{{ web_client_urls['sign_in'] }}" class="btn btn-default btn-sm navbar-btn">
                                        <i class="fa fa-caret-right"></i> Sign in
                                    </a>
                                </div>
                            </li>                         
                            <li>
                                <div>
                                    <p class="navbar-text spacer">&nbsp;</p>                                    
                                    <a href="{{ web_client_urls['base'] }}{{ web_client_urls['sign_up'] }}" class="btn btn-default btn-sm navbar-btn">
                                        <i class="fa fa-user"></i> Create an account
                                    </a>
                                </div>
                            </li>                            
                        {% endif %}
                    </ul>                    

                    <div class="navbar-right">
                        {#                        <p class="navbar-text"><a href="#" class="navbar-link"><i class="fa fa-tachometer"></i> Dashboard</a></p>#}
                        {#                        <p class="navbar-text"><a href="#" class="navbar-link"><i class="fa fa-signal"></i> Features</a></p>#}
                        {#                        <p class="navbar-text"><a href="#" class="navbar-link"><i class="fa fa-calendar"></i> Pricing and plans</a></p>                        #}

                        {#                        <form class="navbar-form navbar-right" method="post" action="{{ path('sign_out_submit') }}">
                                                    <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-user"></i> Create an account</button>
                                                </form>                            
                        
                                                <form class="navbar-form navbar-right" method="post" action="{{ path('sign_out_submit') }}">
                                                    <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-caret-right"></i> Sign in</button>
                                                </form>#}






                        {#                        [user or sign in]
                                                [sign out]#}
                    </div>
                    {#                    <a href="{{ web_client_urls['base'] }}{{ web_client_urls['sign_in'] }}" class="btn btn-small navbar-link "><i class="icon icon-caret-right"></i> Sign in</a>                        
                                        <a href="{{ web_client_urls['base'] }}{{ web_client_urls['sign_up'] }}" class="btn btn-small navbar-link"><i class="icon icon-user"></i> Create account</a>                                            #}

                    {#                    <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>                    
                                        
                                        <form class="navbar-form navbar-right" method="post" action="{{ path('sign_out_submit') }}">
                                            <button type="submit" class="btn btn-default">Submit 1</button>
                                        </form>                     
                                        
                                        <form class="navbar-form navbar-right" method="post" action="{{ path('sign_out_submit') }}">
                                            <button type="submit" class="btn btn-default">Submit 2</button>
                                        </form>  #}                  

                    {#                    <form class="navbar-form navbar-right" role="form">
                                            <div class="form-group">
                                                <input type="text" placeholder="Email" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" placeholder="Password" class="form-control">
                                            </div>
                                            <button type="submit" class="btn btn-success">Sign in</button>
                                        </form>#}
                </div><!--/.navbar-collapse -->
            </div>
        </div>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1>Hello, world!</h1>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>

            <hr>

            <footer>
                <p>&copy; Company 2014</p>
            </footer>
        </div> <!-- /container -->


        <!-- ideally move all suitable JS here -->
    </body>
</html>
