{% extends 'SimplyTestableWebsiteBundle::base.html.twig' %}

{% block stylesheets %}          
{{ parent() }}
{% stylesheets    
    '@SimplyTestableWebsiteBundle/Resources/assets/css/homepage.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %} 
{% endblock %}

{% block body %}

<div id="landing-strip">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">            
                <div id="logo">           
                {% if app.request.get('_route') != 'homepage' %}                
                    <a href="{{ path('homepage') }}">Simply Testable Homepage</a>
                {% endif %}                
                </div>             
                <div class="row-fluid">                    
                    <div class="span6 intro">
                        <div class="leader">
                            <h1>
                                Automated front-end web testing
                            </h1>    
                            <p>
                                Save time and take the pain out of routine front-end web testing.
                                One-click testing of your entire site.
                            </p>                            
                        </div>
                        <div class="content">
                            <ul class="features">
                                <li class="feature">
                                    <p><i class="icon icon-star"></i><i class="icon icon-star-empty"></i> HTML validation, CSS validation and JavaScript linting</p>
                                </li>
                                <li class="feature">
                                    <p><i class="icon icon-star"></i><i class="icon icon-star-empty"></i> Link integrity (broken link) checking</p>
                                </li>                                
                                <li class="feature">
                                    <p><i class="icon icon-star"></i><i class="icon icon-star-empty"></i> Test either your full site or a single page with just one click</p>
                                </li>                                
                                <li class="feature">                                    
                                    <p><i class="icon icon-star"></i><i class="icon icon-star-empty"></i> <a href="http://gears.simplytestable.com/http://blog.simplytestable.com//462/">overview report</a> of successes and failures</p>
                                </li>                                
                                <li class="feature">
                                    <p><i class="icon icon-star"></i><i class="icon icon-star-empty"></i> detailed <a href="http://gears.simplytestable.com/http://blog.simplytestable.com//462/276988/results/">per-URL error report</a></p>
                                </li>
                            </ul>

{% include 'SimplyTestableWebsiteBundle:Partials:start-new-test-form.html.twig' %}

                        </div>                        
                    </div>
                    <div class="span6 slideshow">
                        <div id="myCarousel" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="item">
{% image '@SimplyTestableWebsiteBundle/Resources/assets/images/carousel/00-start.png' %}
    <img src="{{ asset_url }}" alt="Start a new website test" />
{% endimage %}                                    
                                </div>
                                <div class="item active">
{% image '@SimplyTestableWebsiteBundle/Resources/assets/images/carousel/01-progress.png' %}
    <img src="{{ asset_url }}" alt="Test progress" />
{% endimage %}                                     
                                </div>
                                <div class="item">
{% image '@SimplyTestableWebsiteBundle/Resources/assets/images/carousel/02-results.png' %}
    <img src="{{ asset_url }}" alt="Test results" />
{% endimage %}                                    
                                </div>                                    
                                <div class="item">
{% image '@SimplyTestableWebsiteBundle/Resources/assets/images/carousel/03-result-detail.png' %}
    <img src="{{ asset_url }}" alt="Test result detail" />
{% endimage %}                                    
                                </div>
                                <div class="item">
{% image '@SimplyTestableWebsiteBundle/Resources/assets/images/carousel/04-history.png' %}
    <img src="{{ asset_url }}" alt="Full test history" />
{% endimage %}                                    
                                </div>                                    
                            </div>
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
                        </div>                         
                    </div>
                </div>                
            </div>
        </div>              
    </div>
    <div class="fadestrip"></div>
</div>

<div id="features">
    <div class="container">
        <div class="row-fluid">
            <div class="span12 iconified-section">
                <i class="icon section-icon icon-signal"></i>

                <div class="inner">
                    <div class="span4">                        
                        <h3>Technical verification</h3>
                        <ul class="iconed-list">
                            <li class="completed">
                                <p><i class="icon icon-ok"></i> <span class="content">HTML validation</span></p>
                            </li>
                            <li class="completed">
                                <p><i class="icon icon-ok"></i> <span class="content">CSS validation</span></p>
                            </li>                             
                            <li class="completed">
                                <p><i class="icon icon-ok"></i> <span class="content">JavaScript quality checks with <a href="http://en.wikipedia.org/wiki/JSLint">JSLint</a></span></p>
                            </li>                            
                        </ul> 
                    </div>
                    <div class="span4">                        
                        <h3>Quality checks</h3>
                        <ul class="iconed-list">
                            <li>
                                <p><i class="icon icon-ok"></i> <span class="content">Find broken links (requires a <a href="{{ web_client_urls['base'] }}{{ web_client_urls['sign_up'] }}">free</a> or <a href="{{ path('plans') }}">premium</a> account)</span></p>
                            </li>                            
                        </ul>                     
                    </div>                        
                    <div class="span4">
                        <h3>One-click full-site testing</h3>
                        <ul class="iconed-list">
                            <li>
                                <p><i class="icon icon-ok"></i> <span class="content">auto-discover URLs in your XML sitemap (including <a href="http://blog.simplytestable.com/multiple-sitemaps-indexed-sitemaps-supported/">multiple sitemaps, indexed sitemaps</a> and <a href="http://blog.simplytestable.com/compressed-sitemaps-now-supported/">compressed sitemaps</a>)</span></p>
                            </li>                            
                            <li>
                                <p><i class="icon icon-ok"></i> <span class="content">crawl your site to find URLs to test if you have no sitemap (requires a <a href="{{ web_client_urls['base'] }}{{ web_client_urls['sign_up'] }}">free</a> or <a href="{{ path('plans') }}">premium</a> account)</span></p>
                            </li>
                        </ul>                          
                    </div>
                </div>                        
            </div>
        </div>
    </div>        
</div>

<div id="recent-site-tests">
    <div class="container">
        <div class="row-fluid">
            <div class="span12 iconified-section">
                <i class="icon section-icon icon-cog"></i>
                <h3>Recent free demo tests</h3>
{% include 'SimplyTestableWebsiteBundle:Partials:/homepage/recent-test-list.html.twig' with {'tests':recent_tests} %}                
            </div>
        </div>        
    </div>
</div>
</div>          


{% endblock %}