{% extends 'SimplyTestableWebsiteBundle::base.html.twig' %}

{% block stylesheets %}      
{{ parent() }}
<link rel="stylesheet" href="/bundles/simplytestablewebsite/css/pricing-table.css" />
<link rel="stylesheet" href="/bundles/simplytestablewebsite/css/pricing-table-responsive.css" />
<link rel="stylesheet" href="/bundles/simplytestablewebsite/css/plans.css" />
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="//twitterjs.googlecode.com/svn/trunk/src/twitter.min.js" type="text/javascript"></script>
{% endblock %} 

{% block body %}

<div id="landing-strip">
    <div class="container">   
        <div class="row-fluid">
            <div class="span12">
                <h1>Premium plans coming in the next few weeks ...<del>30 day free trial. No credit card required.</del></h1>
            </div>
        </div> 
        <div class="clearfix"></div>        

        <div class="row-fluid pricing-table">


            <div class="span3 plan plan-studio">
                <div class="plan-name">
                    <h2>Personal</h2>
                    <p>For small scale projects</p>
                    <span>&pound;19 <i>per month</i></span>
                </div>
                <ul>
                    <li class="plan-feature">Unlimited full-site tests</li>
                    <li class="plan-feature">Unlimited single-URL tests</li>
                    <li class="plan-feature">100 URLs per full-site test</li>
                    <li class="plan-feature">10,000 credits</li>
                    <li class="plan-feature"><a href="#" class="btn btn-success btn-plan-select">Select</a></li>
                </ul>
            </div>
            <div class="span3 plan plan-pro">
                <div class="plan-name">
                    <h2>Agency</h2>
                    <p>Great for small organisations</p>
                    <span>&pound;39 <i>per month</i></span>
                </div>
                <ul>
                    <li class="plan-feature">Unlimited full-site tests</li>
                    <li class="plan-feature">Unlimited single-URL tests</li>
                    <li class="plan-feature">250 URLs per full-site test</li>
                    <li class="plan-feature">30,000 credits</li>
                    <li class="plan-feature"><a href="#" class="btn btn-success btn-plan-select">Select</a></li>
                </ul>
            </div>            
            <div class="span3 plan plan-business">
                <div class="plan-name">
                    <h2>Business</h2>
                    <p>Best value for professionals</p>
                    <span>&pound;99 <i>per month</i></span>
                </div>
                <ul>
                    <li class="plan-feature">Unlimited full-site tests</li>
                    <li class="plan-feature">Unlimited single-URL test</li>
                    <li class="plan-feature">2500 URLs per full-site test</li>
                    <li class="plan-feature">100,000 credits</li>
                    <li class="plan-feature"><a href="#" class="btn btn-success btn-plan-select">Select</a></li>
                </ul>
            </div>
            <div class="span3 plan plan-enterprise">
                <div class="plan-name">
                    <h2>Enterprise</h2>
                    <p>Full corporate treatment</p>                    
                    <span>&pound;299 <i>per month</i></span>
                </div>
                <ul>
                    <li class="plan-feature">Unlimited full-site tests</li>
                    <li class="plan-feature">Unlimited single-URL tests</li>
                    <li class="plan-feature">10,000 URLs per full-site test</li>
                    <li class="plan-feature">Unlimited credits</li>
                    <li class="plan-feature"><a href="#" class="btn btn-success btn-plan-select">Select</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid row-get-started">
                <div class="span12">
                    Not sure what's best for you? Get started with a <a href="{{ web_client['urls']['base'] }}{{ web_client['urls']['sign_up'] }}">free basic account</a>
                    and upgrade to a subscription plan after you've tried things out.
                </div>
            </div>            
        </div>

    </div>
</div>

<div id="pricing-announcement-modal" class="modal">
    <div class="modal-header">
        <h3>Pre-launch offer!</h3>
    </div>
    <div class="modal-body">
        <p>         
            We've only just started setting up our premium plans.
            They should be ready in a few weeks.
        </p>
        <p>
            We're offering a free 12-month premium subscription to
            all who create a free account now before we launch our premium
            services.
        </p>        
        <p>
            To qualify, just create an account any time before
            the launch of our premium services.
        </p>
    </div>
    <div class="modal-footer">
        <a href="{{ web_client['urls']['base'] }}{{ web_client['urls']['sign_up'] }}" class="btn btn-primary">
            <i class="icon icon-user"></i>
            Create account <span>to qualify for a free 12-month premium subscription</span>
        </a>
    </div>
</div>

<div id="features">
    <div class="container">
        <div class="row-fluid">
            <div class="span12 iconified-section">
                <i class="icon section-icon icon-question-sign"></i>

                <div class="inner">
                    <div class="span4">                        
                        <h3>How does the free trial work?</h3>

                        <p>
                            You can sign up and use Simply Testable for 30 days
                            without having to enter any credit card details.
                        </p>

                        <p>
                            If you provide your card details before your trial 
                            ends you will continue with the plan you chose. 
                            You will be billed monthly from the end of your
                            trial.
                        </p>

                        <p>
                            If you don't provide card details you will be
                            downgraded to a free basic account  with the option 
                            to upgrade to a paid plan at your convenience.
                        </p>

                    </div>
                    <div class="span4">                        
                        <h3>What are credits?</h3>
                        <p>
                            Performing a HTML validation, CSS validation or 
                            JSLint analysis on a single URL requires one credit.
                        </p>

                        <p>
                            Performing all three on a 10 page site would require
                            30 credits.
                        </p>

                        <p>
                            The number of monthly credits you have available
                            depends on the plan you choose.
                        </p>

                        <p>
                            Credits don't roll over from one month to the next.
                        </p>

                    </div>
                    <div class="span4">                        
                        <h3>How long are your contracts?</h3>

                        <p>
                            All plans are month to month.
                        </p>

                        <h3>When can I cancel?</h3>

                        <p>
                            You can cancel at any time. If you cancel during
                            a billing cycle (which is quite likely unless you
                            time things very well) we will refund you for the
                            remainder of the month not yet used.
                        </p>
                    </div>                        
                </div>
            </div>
        </div>        
    </div>    
</div>

{% endblock %}