{% extends 'SimplyTestableWebsiteBundle::Exception/base.html.twig' %}

{% block body_class %} content error error404 {{ parent() }}{% endblock %}
{% block body_ltIE7_class %} content error error404 {{ parent() }}{% endblock %}
{% block body_IE7_class %} content error error404 {{ parent() }}{% endblock %}
{% block body_IE8_class %} content error error404 {{ parent() }}{% endblock %}
{% block body_IE9_class %} content error error404 {{ parent() }}{% endblock %}
                                
{% block leader_heading %}
    500: Simply Broken    
{% endblock %}
                                

{% block intro_content %}  
{% endblock %}

{% block inner_content %}
<section>
<i class="fa fa-frown-o"></i>    
<h2>
    Something has gone wrong. It's not you, it's me.
</h2>
<p>
    I've sent an email off to my makers to let them know. If anyone can fix this, they
    can.
</p>
</section>


<div class="clearfix"></div>
{% endblock %}

{% block sidebar %}

{% endblock %} 