<div id="carousel-example-generic" class="carousel slide hidden-xs hidden-sm">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item">
            {% image '@SimplyTestableWebsiteBundle/Resources/assets/images/carousel/00-start.png' %}
            <img src="{{ asset_url }}" alt="Start a new website test" />
            {% endimage %}                                    
        </div>
        <div class="item active">
            {% image '@SimplyTestableWebsiteBundle/Resources/assets/images/carousel/01-progress.png' %}
            <img src="{{ asset_url }}" alt="Test progress" />
            {% endimage %}                                     
        </div>
        <div class="item">
            {% image '@SimplyTestableWebsiteBundle/Resources/assets/images/carousel/02-results.png' %}
            <img src="{{ asset_url }}" alt="Test results" />
            {% endimage %}                                    
        </div>                                    
        <div class="item">
            {% image '@SimplyTestableWebsiteBundle/Resources/assets/images/carousel/03-result-detail.png' %}
            <img src="{{ asset_url }}" alt="Test result detail" />
            {% endimage %}                                    
        </div>
        <div class="item">
            {% image '@SimplyTestableWebsiteBundle/Resources/assets/images/carousel/04-history.png' %}
            <img src="{{ asset_url }}" alt="Full test history" />
            {% endimage %}                                    
        </div>                                    
    </div>        

    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <i class="fa fa-chevron-circle-left"></i>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <i class="fa fa-chevron-circle-right"></i>
    </a>
</div>    